body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Stolzl",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "Stolzl";
  src: url("./fonts/Stolzl/stolzl_regular.otf") format("opentype"),
    url("./fonts/Stolzl/stolzl_thin.otf") format("opentype"),
    url("./fonts/Stolzl/stolzl_bold.otf") format("opentype"),
    url("./fonts/Stolzl/stolzl_light.otf") format("opentype");
}
